# Default values for todo-backend
replicaCount: 1

image:
  repository: todo-backend
  pullPolicy: IfNotPresent
  tag: "latest"

service:
  type: ClusterIP
  port: 8000

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 100m
    memory: 128Mi

env: []

nodeSelector: {}

tolerations: []

affinity: {}


