apiVersion: dapr.io/v1alpha1
kind: Configuration
metadata:
  name: dapr-config
spec:
  tracing:
    samplingRate: "1"
    zipkin:
      endpointAddress: "http://zipkin.default.svc.cluster.local:9411/api/v2/spans"
  metric:
    enabled: true
  httpPipeline:
    handlers: []
  features:
  - name: proxy.grpc
    enabled: true
  - name: proxy.http
    enabled: true
  - name: secretstores.kubernetes
    enabled: true
  - name: state.management
    enabled: true