apiVersion: dapr.io/v1alpha1
kind: Component
metadata:
  name: statestore
spec:
  type: state.postgresql
  version: v1
  metadata:
    - name: connectionString
      value: "host=neon-db.default.svc.cluster.local user=postgres password=yourpassword dbname=todo sslmode=disable"
    - name: tableName
      value: "dapr_state_store"
    - name: schemaName
      value: "public"